<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../_includes/head") %>

    <title><%= site.name %> - Updater Settings</title>
    <meta property="og:title" content="<%= site.name %> - Updater Settings">

    <meta name="description" content="<%= site.desc %>">
    <meta property="og:description" content="<%= site.desc %>">

    <meta property="og:url" content="<%= site.url %>/settings/updater">

    <!-- Custom styles for this page -->
    <link href="/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/public/vendor/sweetalert2/sweetalert2.min.css" rel="stylesheet">
    <link href="/public/vendor/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("../_includes/sidebar") %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include("../_includes/topbar") %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Updater Settings</h1>

                    <form role="form" id="updaterSettingsForm">

                    <button type="submit" class="btn btn-success mb-3">Save Settings</button>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-12">

                          <div class="card shadow mb-4">

                                  <div class="card-body">

                                    <div class="form-group">
                                        <label>Updater Enabled</label>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="updaterEnabled" <%= settings.enabled ? "checked" : "" %>>
                                            <label class="custom-control-label" for="updaterEnabled"></label>
                                        </div>
                                    </div>

                                    <div id="allSettings">

                                            <div class="form-group">
                                                <label>Class Info Checked Elements</label>
                                                <% for (const item of enums.info) { %>
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" value="<%= item %>" class="custom-control-input" name="checkedElements-info" id="checkedElements-info-<%= item %>" <%= settings.checkedElements.info.includes(item) ? "checked" : "" %>>
                                                        <label class="custom-control-label" for="checkedElements-info-<%= item %>"><%= item %></label>
                                                    </div>
                                                <% } %>
                                                <p class="help-block">Enable and disable what elements are checked for when a class is updated.</p>
                                            </div>

                                            <div class="form-group">
                                                <label>Class Data Checked Elements</label>
                                                <% for (const item of enums.data) { %>
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" value="<%= item %>" class="custom-control-input" name="checkedElements-data" id="checkedElements-data-<%= item %>" <%= settings.checkedElements.data.includes(item) ? "checked" : "" %>>
                                                        <label class="custom-control-label" for="checkedElements-data-<%= item %>"><%= item %></label>
                                                    </div>
                                                <% } %>
                                                <p class="help-block">Enable and disable what elements are checked for when a class is updated.</p>
                                            </div>

                                        </div>

                                  </div>
                                  <div class="card-footer">
                                      <button type="submit" class="btn btn-success">Save Settings</button>
                                  </div>

                          </div>           

                        </div>
                    </div>

                    </form>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("../_includes/footer") %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <%- include("../_includes/doc-end") %>

    <!-- Page level custom scripts -->
    <script src="/public/vendor/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/public/js/custom/settings/updater-ajax.js" id="updater-ajax.js" user="<%= user._id %>"></script>

</body>

</html>