<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include("../_includes/head") %>

    <title><%= site.name %> - Notifications Dashboard</title>
    <meta property="og:title" content="<%= site.name %> - Notifications Dashboard">

    <meta name="description" content="<%= site.desc %>">
    <meta property="og:description" content="<%= site.desc %>">

    <meta property="og:url" content="<%= site.url %>/notifications/dashboard">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("../_includes/sidebar") %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include("../_includes/topbar") %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Notifications Dashboard</h1>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Content Column-->
                        <div class="order-xl-2 col-xl-6">
                            <!-- User Settings-->
                            <div class="card shadow mb-4">
                                <form role="form" method="post" id="tokenForm">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Notification Status</h6>
                                    </div>
                                    <div class="card-body">

                                        <p id="add-to-home-screen" class="mb-0" style="display: none;">
                                            For WebPush work you may need to add this website to Home Screen at your iPhone or iPad.
                                        </p>

                                        <a href="#" class="btn btn-primary btn-icon-split btn-lg" id="subscribe_btn">
                                            <span class="icon text-white-50">
                                                <i class="fa fa-bell"></i>
                                            </span>
                                            <span class="text">Subscribe to Notifications</span>
                                        </a>

                                        <p class="mb-0" id="text_block"></p>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("../_includes/footer") %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <%- include("../_includes/doc-end") %>

    <!-- Page level custom scripts -->
    <script src="/public/vendor/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/public/js/custom/notifications-dashboard.js" id="notifications-dashboard.js" vapidKey="<%= vapidKey %>"></script>

</body>

</html>