<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../_includes/head") %>

    <title><%= site.name %> - Black Page</title>
    <meta property="og:title" content="<%= site.name %> - Home">

    <meta name="description" content="<%= site.desc %>">
    <meta property="og:description" content="<%= site.desc %>">

    <meta property="og:url" content="<%= site.url %>">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("../_includes/sidebar") %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include("../_includes/topbar") %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("../_includes/footer") %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <%- include("../_includes/doc-end") %>

</body>

</html>