<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include("../_includes/head") %>

    <title><%= site.name %> - Admin</title>
    <meta property="og:title" content="<%= site.name %> - Admin">

    <meta name="description" content="<%= site.desc %>">
    <meta property="og:description" content="<%= site.desc %>">

    <meta property="og:url" content="<%= site.url %>/admin">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("../_includes/sidebar") %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include("../_includes/topbar") %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Admin Dashboard</h1>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Users -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Users</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= stats.users %></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Presets -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                stat</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">stat</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- tbd stat -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                stat</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">stat</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- tbd stat -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                stat</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">stat</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Text -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Text</h6>
                                </div>
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos mauris inceptos eleifend id rutrum senectus pharetra nisi at tincidunt pharetra quisque morbi. Vel risus at iaculis neque amet mauris luctus posuere imperdiet sem viverra diam dapibus. </p>
                                    <p class="mb-0">Congue convallis tempus rutrum quisque mi curae viverra sodales. Congue primis egestas commodo mus malesuada condimentum etiam quisque. Turpis sollicitudin arcu taciti molestie taciti natoque mi nisl sagittis dignissim donec.</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Pages -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Pages</h6>
                                </div>
                                <div class="card-body">
                                    <a href="/admin/database" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-database"></i>
                                        </span>
                                        <span class="text">Database</span>
                                    </a>
                                    <a href="/notifications" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-bell"></i>
                                        </span>
                                        <span class="text">Notifications</span>
                                    </a>
                                    <a href="/api/dashboard" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-cloud"></i>
                                        </span>
                                        <span class="text">Api Dashboard</span>
                                    </a>
                                    <a href="/api/docs" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-book"></i>
                                        </span>
                                        <span class="text">Api Documentation</span>
                                    </a>
                                </div>
                            </div>

                            <!-- User Delete -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Delete User</h6>
                                </div>
                                <div class="card-body">
                                    <form role="form" id="deleteUserForm">

                                        <div class="form-group">
                                            <label>User to Delete</label>
                                            <select class="form-control col-xl-5 col-md-6 col-sm-12" name="userToDelete">
                                                <% for (const {_id, firstName, lastName} of deleteUserFormUsers) { %>
                                                    <option value="<%= _id %>"><%= `${firstName} ${lastName}` %></option>
                                                <% } %>
                                            </select>
                                        </div>

                                        <button type="submit" class="btn btn-success">Delete User</button>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("../_includes/footer") %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <%- include("../_includes/doc-end") %>

    <!-- Page level custom scripts -->
    <script src="/public/vendor/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/public/js/custom/admin/delete-user.js"></script>

</body>

</html>