<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include("../_includes/head") %>

    <title><%= site.name %> - Database</title>
    <meta property="og:title" content="<%= site.name %> - Database">

    <meta name="description" content="<%= site.desc %>">
    <meta property="og:description" content="<%= site.desc %>">

    <meta property="og:url" content="<%= site.url %>/admin/database">

    <!-- Custom styles for this page -->
    <link href="/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("../_includes/sidebar") %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include("../_includes/topbar") %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Database Viewer</h1>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-12">

                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#users" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                    role="button" aria-expanded="false" aria-controls="users">
                                    <h6 class="m-0 font-weight-bold text-primary">Users:</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse" id="users">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="usersTable" width="100%" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-12">

                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#settings" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                   role="button" aria-expanded="false" aria-controls="settings">
                                    <h6 class="m-0 font-weight-bold text-primary">Settings:</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse" id="settings">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="settingsTable" width="100%" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-12">

                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#updaterdatas" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                   role="button" aria-expanded="false" aria-controls="updaterdatas">
                                    <h6 class="m-0 font-weight-bold text-primary">Updater Datas:</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse" id="updaterdatas">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="updaterdatasTable" width="100%" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-12">

                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#sessions" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                   role="button" aria-expanded="false" aria-controls="users">
                                    <h6 class="m-0 font-weight-bold text-primary">Sessions:</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse" id="sessions">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="sessionsTable" width="100%" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-12">

                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#rateLimits" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                   role="button" aria-expanded="false" aria-controls="users">
                                    <h6 class="m-0 font-weight-bold text-primary">Rate Limits:</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse" id="rateLimits">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="rateLimitsTable" width="100%" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("../_includes/footer") %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <%- include("../_includes/doc-end") %>

    <!-- Page level plugins -->
    <script src="/public/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/public/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/public/js/custom/admin-datatables.js" id="admin-datatables.js" data="<%= data %>"></script>

</body>

</html>