<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include("../_includes/head") %>

    <title><%= site.name %> - Home</title>
    <meta property="og:title" content="<%= site.name %> - Home">

    <meta name="description" content="<%= site.desc %>">
    <meta property="og:description" content="<%= site.desc %>">

    <meta property="og:url" content="<%= site.url %>">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("../_includes/sidebar") %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include("../_includes/topbar") %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Home</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6">

                            <!-- Simple About -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5 col-12 text-center">
                                            <img src="/public/img/logo.png" style="height: 192px; width: 192px;" alt="logo">
                                        </div>
                                        <div class="col-md-7 col-12 mt-4">
                                            <h1><b><%= site.name %></b></h1>
                                            <p class="text-lg text-muted"><%= site.desc %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- More feat -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">More Features</h6>
                                </div>
                                <div class="card-body">
                                    <p><%= site.name %> has more features than just updating you!
                                        Not only can you just <a href="/grades/overview">view your grades</a>, you also get access to a new <a href="/homework">homework viewer</a> which
                                        sorts homework by class and day in an easy to understand grid.</p>
                                    <p class="mb-0">You can also blacklist or whitelist certain classes in <a href="/settings">settings</a> so that you can
                                        remove clutter from the grades overview and from notifications.</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">

                            <!-- How to use -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">How to use the <%= site.name %> updater</h6>
                                </div>
                                <div class="card-body">
                                    <p>Using <%= site.name %> is actually pretty easy!
                                        <% if (user === null) { %>
                                            Get started by <a href="/auth/login">logging in</a> with your FACTS account.
                                            Make sure to use a student account, as parent accounts are not supported at this time.
                                            Then, head
                                        <% } else { %> Get started by going <% } %>
                                        to <a href="/settings">settings</a> to begin setting up notifications.</p>
                                    <p>On the settings page, begin by enabling the updater and linking your Discord account.</p>
                                    <p class="mb-0">Once linked, you'll automatically be joined to the <%= site.name %> server where you can
                                        set up notifications. You'll find a channel with instructions on how to do so once there.</p>
                                </div>
                            </div>

                            <!-- Need help -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Need help?</h6>
                                </div>
                                <div class="card-body">
                                    <p class="mb-0">You can get support by emailing <span id="emailfill"></span>. If you would rather have instant support, there are
                                        channels available on the Discord server (automatically joined when you link your account) where members of 
                                        the community can help!</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("../_includes/footer") %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <%- include("../_includes/doc-end") %>

    <!-- Page level plugins -->
    <script src="/public/js/custom/home.js" id="home.js" data="<%= site.supportEmail.split('').reverse().join('') %>"></script>

</body>

</html>